# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

# Default settings for Swift files
[*.swift]
indent_style = space
indent_size = 4
tab_width = 4

# Default settings for Markdown files
[*.md]
[Support/Scripts/*]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
intent_size = 2

[*.json]
indent_style = space
intent_size = 2
